/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-regular.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic_latin-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-600.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-600.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-cyrillic_latin-800.eot"); /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-800.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-800.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-800.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* merriweather-900 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/merriweather-v30-cyrillic-900.woff2") format("woff2"), url("../fonts/merriweather-v30-cyrillic-900.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a:hover {
  cursor: pointer;
}

.header-main {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #6b6b6b;
}
.header-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__icon {
  height: 60px;
  width: 50px;
}
.header-main__icon:hover {
  cursor: pointer;
}
.header-main__icon:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.header-main__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-main__logo {
  height: 70px;
  width: 70px;
}
.header-main__site-name {
  font-weight: 800;
  font-size: 34px;
  line-height: 36px;
  color: #ed3106;
}
.header-main__site-name:hover {
  cursor: default;
}
.header-nav {
  padding-top: 90px;
}
.header-nav__list {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header-nav__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14%;
          flex: 0 1 14%;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}
.header-nav__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}
.header-nav__link {
  text-transform: uppercase;
  color: #1e1e1e;
}
.header-nav__link:hover {
  color: #ed3106;
}

.section-hero {
  margin-bottom: 40px;
  padding-top: 25px;
  background-color: rgb(246, 241, 238);
}
.section-hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-hero__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero__source {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.section-hero__link {
  font-size: 12px;
  vertical-align: baseline;
  color: rgb(139, 139, 139);
}
.section-hero__link_original {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ed3106;
}
.section-hero__link_original:hover {
  font-weight: 800;
}
.section-hero__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34%;
          flex: 0 1 34%;
}
.section-hero__statistic {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-hero__comments {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero__icon {
  margin-right: 4px;
  height: 20px;
  width: 20px;
}
.section-hero__views {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero__heading {
  padding: 10px 0;
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  line-height: 1.3;
  color: #3f3f3f;
}
.section-hero__second-heading {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  color: #565656;
}
.section-hero__preview {
  width: 100%;
}
.section-hero__img {
  vertical-align: middle;
  width: 100%;
}
.section-hero__photo-source {
  padding: 8px 0 40px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.section-announce__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-announce__left {
  padding-right: 20px;
}
.section-announce__describe {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #565656;
}
.section-announce__text {
  margin: 20px 0 40px;
  padding: 40px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #343434;
  border-top: 1px solid #eb5d0b;
  border-bottom: 1px solid #eb5d0b;
}
.section-announce__author {
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #343434;
}
.section-announce__right {
  padding-left: 20px;
}
.section-announce__adds {
  width: 200px;
  height: 90%;
  background-color: gray;
}

.section-article__text {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.section-comment-create {
  margin-bottom: 20px;
}
.section-comment-create__heading {
  display: inline-block;
  padding-right: 4px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #343434;
}
.section-comment-create__comments-counter {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: gray;
}
.section-comment-create__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
  max-height: 1000px;
  padding: 20px 40px 20px 20px;
  background-color: rgb(246, 241, 238);
  border-radius: 10px;
}
.section-comment-create__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-comment-create__input {
  background-color: rgb(246, 241, 238);
  border-bottom: 1px solid black;
}
.section-comment-create__input_name {
  margin-right: 10px;
  padding-bottom: 4px;
}
.section-comment-create__center {
  padding-top: 20px;
  min-height: 100px;
}
.section-comment-create__textarea {
  display: block;
  margin: 20px 0;
  width: 85%;
  height: 20px;
  max-height: 1000px;
  overflow: visible;
  background-color: rgb(246, 241, 238);
  border-bottom: 1px solid black;
}
.section-comment-create__error {
  border: 1px solid red;
}
.section-comment-create__error_none {
  display: none;
}
.section-comment-create__date {
  background-color: rgb(246, 241, 238);
}
.section-comment-create__btn {
  margin-right: 10px;
  padding: 4px 0;
  width: 100px;
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(237, 191, 136, 0.197);
}
.section-comment-create__btn:hover {
  background-color: #f5c6b1;
}

.section-comments-list {
  padding-bottom: 40px;
}
.section-comments-list__container {
  margin-left: 60px;
  margin-right: 40px;
}
.section-comments-list__comment {
  margin-bottom: 20px;
  padding: 20px 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: rgb(246, 241, 238);
}
.section-comments-list__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-comments-list__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  max-width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
}
.section-comments-list__picture {
  width: 100%;
  height: 100%;
}
.section-comments-list__describtion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 88%;
          flex: 0 1 88%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.section-comments-list__author-name {
  font-weight: 600;
}
.section-comments-list__date {
  font-size: 12px;
}
.section-comments-list__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 3%;
          flex: 0 1 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-comments-list__like {
  width: 20px;
}
.section-comments-list__remove {
  max-width: 20px;
}
.section-comments-list__comment-text {
  padding-top: 20px;
  max-width: 90%;
  line-height: 1.2;
}